{% extends 'nyamki/base.html' %}

{% load nyamki_tags %}

{% block content %}
    <div id="user-profile">
        <div class="user-profile-header">
            <h1>Сохраненное</h1>
        </div>
        <div class="user-profile-save-list">
            {% for content in article_list%}

                <div class="content_block_nrow">
                    <a href="{% url 'nyamki:article' content.url %}">
                        <img src="{{ content.image.url }}" class="content_block_img_2row">
                    </a>
                    
                    <div class="content_block_description_2row">
                        <a href="{% url 'nyamki:article' content.url %}">
                            {{ content.name }}
                        </a>
                        <span>{{ content.description|truncatechars:100 }}</span>
                        <form action="{% url 'user:delete_article' content.id %}" method="post" class="deleteform">
                            {% csrf_token %}
                            <button type="submit"><img src="/media/but_delete.png"></button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'include/elements/paginator.html' %}
    </div>

{% endblock content %}
