{% extends 'nyamki/base.html' %}

{% load nyamki_tags %}

{% block content %}
    <div id="user-profile">
        <div class="user-profile-save">
            <h1>Рецепты</h1>
            <div class="user-profile-save-list">

            </div>

        </div>
        
        <ul>
            {% for article in user.profile.save_articles.all %}
                <li>
                    <a href="{% url 'nyamki:article' article.url %}">
                        {{ article.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h1>Статьи</h1>
        <ul>
            {% for article in user.profile.save_articles.all %}
                <li>
                    <a href="{% url 'nyamki:article' article.url %}">
                        {{ article.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}
